*,
*::after,
*::before {
	box-sizing: border-box;
}

li {
	list-style: none;
}

a {
	color: inherit;
	text-decoration: none;
}

img {
	width: 100%;
	height: auto;
	display: block;
}
p{
	overflow-wrap: break-word;
}
body {
	letter-spacing: 0.43px;
	background-color: #B6B6B6;
	font: 400 20px/24px var(--font);
	color: $default;
}

.btn-reset {
	border: none;
	outline: none;
	background-color: transparent;
	cursor: pointer;
	color: inherit;
	font: inherit;
	padding: 0;
}

.wrapper {
	max-width: 480px;
	margin: 0 auto;
	background-color: #fff;
}

.container {
	max-width: 100%;
	margin: 0 auto;
	padding: 0 15px;
}

.hide {
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(0 0 0 0);
	position: absolute;
	transition: opacity 1.3s;
}

.link {
	width: fit-content;
	margin: 0 auto;
	border-radius: 6px;
	font: 700 30px / 35px var(--font);
	color: #675515;
	background-color: #FFE600;
	display: flex;
	align-items: stretch;
	position: relative;

	&::after {
		content: '';
		width: 90%;
		height: 80%;
		position: absolute;
		bottom: -5px;
		left: 50%;
		transform: translateX(-50%);
		background: #000000;
		opacity: 0.6;
		filter: blur(11.4286px);
		border-radius: 5.71429px;
		z-index: -1;
		transition: .5s ease-in-out;
	}

	&__text {
		display: flex;
		align-items: center;
		padding: 0 43px 0 73px;
	}

	&__icon {
		background-color: #FFB800;
		padding: 14px 16px 20px 18px;
		border-radius: 0px 6px 6px 0px;

		svg {
			.arc {
				fill: transparent;
				transition: all .5s ease-in-out;
				filter: drop-shadow(0 2px 1.5px rgba($black, .7));
			}
		}
	}

	&:hover {
		&::after {
			bottom: 10px;
			height: 0%;
		}

		.link__icon {
			svg {
				.arc {
					stroke-dasharray: 300px;
					fill: #675515;
				}
			}
		}
	}
}

.section {
	padding: 30px 0;
	position: relative;
	z-index: 1;

	&--accent {
		background-color: #FFEDED;
	}
}

.title {
	font: 700 25px/30px var(--font);
	color: $black;
	text-align: center;
	padding: 0 15px;
	margin: 0 auto 30px;

	&--accent {
		font: 900 40px/45px var(--font);
		color: $accent;
	}
}
@media (max-width:320px) {
	.title--accent{
		font:900 30px/35px var(--font);
	}
	.link__text{
		padding: 0 35px 0 35px;
	}
}